.card{
    margin-top:15%;
    margin-left:16%;
    margin-right: 5%;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5%;
    text-align: center;
}
.detallesProducto{
    margin-bottom:10%;
}
.reseña{
    text-align: justify;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    border: solid 1px #30471C;
    background-color: #7D8D72;
}
.btn-circle-two{
    border: solid 1px #30471C;
    background-color: #7D8D72;
}