.card{
    margin-top:8%;
    margin-left:8%;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5%;
    text-align: center;
    background-color: #F4E8C2;
    margin-bottom:10%;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    border: solid 1px #637454;
    background-color: #7D8D72;
}
.btn-circle-two{
    border: solid 1px #637454;
    background-color: #7D8D72;
}