*{
    font-family: 'BIZ UDPMincho', serif;

}

body{
    background-color: whitesmoke;
}
h1{
    padding-top:5%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #EEE3CB;
}



