*{
    font-family: 'BIZ UDPMincho', serif;

}
.header {
    width: 100%;
    height: 30px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: #464246;
    position: fixed;
    z-index: 1; 
}
.logo{
    margin-top: -5px;
    width: 60px;
    height: 60px;
}
.name{
    margin-top: -5px;
    width:150px; 
    height:50px;
}
.shadow{
    width: 100%;
    height: 85px;
}
#offcanvasNavbar{
    font-family: 'BIZ UDPMincho', serif;
    font-size: larger;
    margin-top: 10px;
    padding-right: 40px;
}
ul{
    list-style-type: none;
    text-decoration: none;
}
.navbar-nav{
    justify-content: left;
    overflow: hidden;
}
.cart{
    margin-right: 40px;
    padding-top:8px;
    background-color: rgba(233,158,117, 0.7);
    width: 50px;
    height: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;

}
body{
    background-color: whitesmoke;
}
.greeting{
    text-align: center;
    text-decoration: underline;
    font-family: 'BIZ UDPMincho', serif;

}
.contador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}