*{
    font-family: 'BIZ UDPMincho', serif;

}
.shadow {
    width: 100%;
    height: 85px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: #464246;
    position: fixed;
    z-index: 1; 
}
.name{
    margin-top: -31px;
    width:240px; 
    height:100px;
}

#offcanvasNavbar{
    font-family: 'BIZ UDPMincho', serif;
    font-size: larger;
    margin-top: 10px;
    padding-right: 40px;
}
ul{
    list-style-type: none;
    text-decoration: none;
    text-decoration-color: #081832;
}

.navbar-nav{
    justify-content: left;
    overflow: hidden;
}
.cart{
    margin-right: 40px;
    padding-top:8px;
    background-color: rgba(233,158,117, 0.7);
    width: 50px;
    height: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;

}
body{
    background-color: whitesmoke;
}

h1{
    padding-top:5%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #EEE3CB;
}

.greeting{
    text-align: center;
    text-decoration: underline;
    font-family: 'BIZ UDPMincho', serif;

}
#bienvenida{
    padding-top: 10%;
    margin-left:10%;
}
.contador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
.card{
    margin-top:8%;
    margin-left:8%;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5%;
    text-align: center;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    border: solid 1px #081832;
    background-color: #B7C4CF;
}
.btn-circle-two{
    border: solid 1px #081832;
    background-color: #B7C4CF;
}
.detallesProducto{
    margin-left: 35%;
}
