.shadow {
    width: 100%;
    height: 85px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: #464246;
    position: fixed;
    z-index: 1; 
}
.name{
    margin-top: -31px;
    width:240px; 
    height:100px;
}
#offcanvasNavbar{
    font-family: 'BIZ UDPMincho', serif;
    font-size: larger;
    margin-top: 10px;
    padding-right: 40px;
}
ul{
    list-style-type: none;
    text-decoration: none;
    text-decoration-color: #081832;
}

.navbar-nav{
    justify-content: left;
    overflow: hidden;
}